html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #edf2f4;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #edf2f4;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin: 0 auto;
  overflow-x: hidden;
}

a:link,
a:visited {
  text-decoration: none;
  color: #edf2f4;
  text-transform: uppercase;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid--3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid--2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
}

.btn:hover {
  cursor: pointer;
}

@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  85% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  85% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveOutIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes moveOutIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  85% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  85% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes inifnityRightAndReserve {
  0% {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@keyframes inifnityRightAndReserve {
  0% {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

.header {
  padding-bottom: 5rem;
  background-color: rgba(188, 36, 5, 0.33);
  background-image: url(x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: 0 1px 12px 1px black;
          box-shadow: 0 1px 12px 1px black;
}

.header__text {
  text-align: center;
  margin-top: 7rem;
  font-style: italic;
  -webkit-animation-name: moveFromRight;
          animation-name: moveFromRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header__title {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-style: italic;
  letter-spacing: 0.6rem;
  font-size: 5rem;
  -webkit-animation-name: moveFromLeft;
          animation-name: moveFromLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: inline-block;
  padding: 1rem 3rem;
}

.header__heading {
  text-align: center;
  padding-top: 20rem;
}

.navigation, .navigation__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__ul {
  padding-top: 4rem;
  list-style-type: none;
  gap: 2rem;
}

.navigation__item {
  font-weight: 600;
}

.navigation__item::after {
  display: block;
  content: "";
  border-bottom: solid 3px #d80032;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.navigation__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.offer {
  gap: 2rem;
  padding: 2rem;
}

.offer__product {
  border: 2px solid #ef233c;
  border-radius: 10px;
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: start;
}

.offer__icon {
  font-size: 4rem;
  color: #ef233c;
}

.offer__tittle {
  text-transform: uppercase;
  font-weight: 600;
  color: #ef233c;
}

.offer__list {
  list-style-type: "-";
  margin-left: 1rem;
  gap: 1rem;
}

#product-card-1 {
  -webkit-animation-name: moveOutIn;
          animation-name: moveOutIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#product-card-2 {
  -webkit-animation-name: moveOutIn;
          animation-name: moveOutIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#product-card-3 {
  -webkit-animation-name: moveOutIn;
          animation-name: moveOutIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.vendor__feature {
  gap: 12rem;
  -webkit-animation-name: inifnityRightAndReserve;
          animation-name: inifnityRightAndReserve;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.vendor__logo {
  width: 16rem;
  height: auto;
  color: blue;
}
/*# sourceMappingURL=main.css.map */