html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #edf2f4;
}

body {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #edf2f4;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  overflow-x: hidden;
  overflow-anchor: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: #edf2f4;
  text-transform: uppercase;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid--4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid--3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid--2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.sticky {
  position: fixed;
  width: 100%;
  background-color: #060707;
  opacity: 0.9;
  padding-bottom: 3rem;
  z-index: 1000;
  -webkit-animation-name: toOpacityFull;
          animation-name: toOpacityFull;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
}

.btn:hover {
  cursor: pointer;
}

.none {
  display: none;
}

@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  85% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  85% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveOutIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes moveOutIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  85% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  85% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes inifnityRightAndReserve {
  0% {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@keyframes inifnityRightAndReserve {
  0% {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@-webkit-keyframes toOpacityFull {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toOpacityFull {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  padding-bottom: 5rem;
  min-height: 85vh;
  background: -webkit-gradient(linear, left top, right top, from(#b92b27), to(#1565c0));
  background: linear-gradient(to right, #b92b27, #1565c0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: 0 1px 12px 1px black;
          box-shadow: 0 1px 12px 1px black;
}

.header__text {
  text-align: center;
  margin-top: 5rem;
  font-style: italic;
  -webkit-animation-name: moveFromRight;
          animation-name: moveFromRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header__title {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-style: italic;
  letter-spacing: 0.6rem;
  font-size: 9rem;
  -webkit-animation-name: moveFromLeft;
          animation-name: moveFromLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: inline-block;
  padding: 1rem 3rem;
}

.header__heading {
  text-align: center;
  padding-top: 2rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

.navigation__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
  list-style-type: none;
  gap: 2rem;
}

.navigation__item {
  font-weight: 600;
}

.navigation__item::after {
  display: block;
  content: "";
  border-bottom: solid 3px #d80032;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.navigation__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hamburger {
  display: none;
  cursor: pointer;
  padding-top: 3rem;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 2.5rem;
  height: 3px;
  margin: 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #edf2f4;
}

.offer {
  gap: 2rem;
  padding: 2rem;
}

.offer__product {
  border-radius: 10px;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: start;
}

.offer__icon {
  font-size: 8rem;
  color: #edf2f4;
}

.offer__tittle {
  text-transform: uppercase;
  font-weight: 600;
  color: #ef233c;
  background-color: #edf2f4;
  border-radius: 15px;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.offer__text {
  font-size: 2rem;
}

.offer__list {
  list-style-type: "-";
  margin-left: 1rem;
  gap: 1rem;
}

#product-card-1 {
  -webkit-animation-name: moveOutIn;
          animation-name: moveOutIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#product-card-2 {
  -webkit-animation-name: moveOutIn;
          animation-name: moveOutIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#product-card-3 {
  -webkit-animation-name: moveOutIn;
          animation-name: moveOutIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.vendor {
  overflow-x: hidden;
}

.vendor__feature {
  gap: 12rem;
  -webkit-animation-name: inifnityRightAndReserve;
          animation-name: inifnityRightAndReserve;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.vendor__logo {
  width: 16rem;
  height: auto;
}

.testimonials {
  padding: 4rem 2rem;
  color: red;
}

.testimonials__header {
  color: #060707;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 3rem;
}

.testimonials__subtext {
  color: #ef233c;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.6rem;
}

.testimonials__container {
  padding-top: 2rem;
  gap: 2rem;
}

.testimonials__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
          box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 4rem 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.testimonials__card::before {
  content: "";
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
          box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.testimonials__card::after {
  content: "	\2033";
  font-style: italic;
  font-size: 5rem;
  color: #edf2f4;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  -webkit-clip-path: polygon(36% 0, 0 35%, 0 0);
          clip-path: polygon(36% 0, 0 35%, 0 0);
  background-color: #060707;
}

.testimonials__review {
  font-size: 2rem;
  color: #edf2f4;
  z-index: 3;
  margin-top: 6rem;
  padding: 5rem 3rem;
  background-color: #ef233c;
  letter-spacing: 3px;
  border-radius: 3px;
}

.testimonials__photo {
  border-radius: 100%;
  width: 12rem;
  height: 12rem;
}

.testimonials__author {
  color: #ef233c;
  font-weight: 600;
}

@media (max-width: 650px) {
  .hamburger {
    display: block;
    margin-left: 2rem;
  }
  .navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
  .navigation__ul {
    position: fixed;
    left: -100%;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #060707;
    padding-bottom: 2rem;
    opacity: 0.85;
  }
  .navigation__ul.active {
    left: 0;
  }
}

.cookie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #060707;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-animation-name: toOpacityFull 2s;
          animation-name: toOpacityFull 2s;
}

.cookie__container {
  display: block;
  z-index: 10000000;
  position: fixed;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.cookie__btn {
  margin-left: -1rem;
}

.cookie__btn:hover {
  color: #ef233c;
}

.map-container {
  padding: 0.5rem 2rem;
}

#map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 250rem;
  height: 50rem;
  border: 2px solid #060707;
  margin: 0 auto;
}

.leaflet-popup-content-wrapper,
.leaflet-popup.tip {
  background-color: #060707;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.location {
  margin-top: 3rem;
}

.location__header {
  text-align: center;
  color: #edf2f4;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #060707;
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[8];
      grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__container {
  padding: 2rem;
}

.gallery__header {
  color: #060707;
  font-size: 3rem;
  text-align: center;
  padding: 3rem 0 0 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.gallery__text {
  text-align: center;
  color: #ef233c;
  letter-spacing: 2px;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  text-transform: lowercase;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

.footer {
  padding: 2rem;
  background-color: #060707;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.footer__column:first-child {
  -ms-grid-column-align: start;
      justify-self: start;
}

.footer__column:last-child {
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer__text {
  color: #edf2f4;
}

.footer__info {
  text-transform: lowercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__icon {
  color: #ef233c;
  font-size: 5.5rem;
}

.footer a {
  color: #edf2f4;
  text-transform: lowercase;
}

.footer span {
  color: #edf2f4;
}

.social__icon {
  padding-left: 3rem;
  color: #edf2f4;
}

.social__icon:hover {
  color: #ef233c;
}

.questions {
  margin-top: 4rem;
  padding: 2rem;
}

.questions__header {
  text-align: center;
  color: #060707;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.questions__tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.questions__btn {
  background-color: #060707;
  border: none;
  font-size: 1.8rem;
  color: #edf2f4;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-style: italic;
}

.questions__btn--active {
  background-color: #ef233c;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.questions__content {
  display: none;
}

.questions__content--active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  margin-top: 4rem;
  padding: 5rem 1rem;
  min-height: 50vh;
  -webkit-animation: toOpacityFull 1s;
          animation: toOpacityFull 1s;
}

.questions__heading5 {
  color: #060707;
  font-size: 6rem;
  display: inline-block;
  font-weight: normal;
}

.questions__text {
  color: #060707;
  letter-spacing: 2px;
  font-size: 1.8rem;
  line-height: 2;
}

.section {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(15rem);
          transform: translateY(15rem);
}

@media (max-width: 1000px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column {
    padding: 1rem 0;
  }
  .footer__column:last-child {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .social__icon {
    padding-left: 0;
    margin-right: 2rem;
  }
}

@media (max-width: 800px) {
  .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .questions__content--active {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .questions__btn {
    font-size: 1.2rem;
  }
  .questions__heading5 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .header__title {
    font-size: 8rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
  #map {
    height: 29rem;
  }
}

@media (max-width: 480px) {
  .header__text {
    margin-top: 10rem;
  }
  .location__header {
    margin: 0;
    font-size: 1.6rem;
    letter-spacing: 4px;
    font-weight: 500;
  }
  .footer {
    margin: 0;
  }
  .footer__column:first-child {
    display: none;
  }
  .map-container {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */