//////////////////////////////////////////// SETUP ////////////////////////////////////////////////
$font-color-main: #edf2f4;
$font-color-second: #ef233c;
$main-color-black: #060707;
$box-shadow: 0 1px 12px 1px black;

html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $font-color-main;
}

body {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  box-sizing: border-box;
  color: $font-color-main;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  overflow-x: hidden;
  // site was jumping slighlty to the left during refreshing on google chrome, this line prevents it
  overflow-anchor: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: $font-color-main;
  text-transform: uppercase;
}

//////////////////////////////////////////// RE-USABLE components ////////////////////////////////////////////////
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sticky {
  position: fixed;
  width: 100%;
  background-color: $main-color-black;
  opacity: 0.9;
  padding-bottom: 3rem;
  z-index: 1000;
  animation-name: toOpacityFull;
  animation-duration: 0.5s;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;

  &:hover {
    cursor: pointer;
  }
}

.none {
  display: none;
}
//////////////////////////////////////////// ANIMATIONS ////////////////////////////////////////////////
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  85% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveOutIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  85% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes inifnityRightAndReserve {
  0% {
    transform: translateX(-250px);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes toOpacityFull {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//////////////////////////////////////////// HEADER SECTION ///////////////////////////////////////////
.header {
  padding-bottom: 5rem;

  background: linear-gradient(
    to right,
    #b92b27,
    #1565c0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background-color: rgba($color: #bc2405, $alpha: 0.33);
  //background-image: url(x.jpg);
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center center;
  //background-blend-mode: multiply;
  //backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  box-shadow: $box-shadow;

  &__text {
    text-align: center;
    margin-top: 5rem;
    font-style: italic;
    animation-name: moveFromRight;
    animation-duration: 1s;
  }

  &__title {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.6rem;
    font-size: 9rem;
    animation-name: moveFromLeft;
    animation-duration: 1s;
    display: inline-block;
    padding: 1rem 3rem;
  }

  &__heading {
    text-align: center;
    padding-top: 2rem;
  }
}

//////////////////////////////////////////// NAVIGATION SECTION ///////////////////////////////////////////
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  gap: 4rem;

  &__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    list-style-type: none;
    gap: 2rem;
  }

  &__item {
    font-weight: 600;
  }
}

.navigation__item::after {
  display: block;
  content: "";
  border-bottom: solid 3px #d80032;
  transform: scaleX(0);
  transition: transform 300ms ease-out;
}

.navigation__item:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  cursor: pointer;
  padding-top: 3rem;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 2.5rem;
  height: 3px;
  margin: 5px 5px;
  transition: all 0.3s ease-in-out;
  background-color: $font-color-main;
}

/////////////////////////////////////////// OFFER SECTION///////////////////////////////////////////
.offer {
  gap: 2rem;
  padding: 2rem;

  &__product {
    border-radius: 10px;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    //justify-items: start;
    align-items: flex-start;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: start;
  }

  &__icon {
    font-size: 8rem;
    color: #edf2f4;
  }

  &__tittle {
    text-transform: uppercase;
    font-weight: 600;
    color: $font-color-second;
    background-color: $font-color-main;
    border-radius: 15px;
    padding: 1rem 2rem;
    font-size: 2rem;
    //box-shadow: ;
  }

  &__text {
    font-size: 2rem;
  }

  &__list {
    list-style-type: "-";
    margin-left: 1rem;
    gap: 1rem;
  }
}

#product-card-1 {
  animation-name: moveOutIn;
  animation-duration: 1s;
}
#product-card-2 {
  animation-name: moveOutIn;
  animation-duration: 1s;
}
#product-card-3 {
  animation-name: moveOutIn;
  animation-duration: 1s;
}

/////////////////////////////////////////// VENDOR SECTION ///////////////////////////////////////////

.vendor {
  &__feature {
    gap: 12rem;
    animation-name: inifnityRightAndReserve;
    animation-duration: 60s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &__logo {
    width: 16rem;
    height: auto;
  }
}

/////////////////////////////////////////// TESTIMONIALS ///////////////////////////////////////////

.testimonials {
  margin-top: -2rem;
  padding: 0 2rem;
  color: red;

  &__header {
    color: $main-color-black;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 3rem;
  }

  &__subtext {
    color: $font-color-second;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.6rem;
  }

  &__container {
    padding-top: 2rem;
    gap: 2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    padding: 4rem 1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__card::before {
    content: "";
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
  &__card::after {
    content: "	\2033";
    font-style: italic;
    font-size: 5rem;
    color: $font-color-main;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    clip-path: polygon(36% 0, 0 35%, 0 0);
    background-color: $main-color-black;
  }

  &__review {
    font-size: 2rem;
    color: $font-color-main;
    z-index: 3;
    margin-top: 6rem;
    padding: 3rem;
    background-color: $font-color-second;
    letter-spacing: 3px;
    border-radius: 3px;
  }

  &__photo {
    border-radius: 100%;
    width: 12rem;
    height: 12rem;
  }

  &__author {
    color: $font-color-second;
    font-weight: 600;
  }
}

@media (max-width: 650px) {
  .hamburger {
    display: block;
    margin-left: 2rem;
  }

  .navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navigation__ul {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    // margin-top: 3rem;
    transition: 0.3s;
    background-color: $main-color-black;
    padding-bottom: 2rem;
    opacity: 0.85;
  }

  .navigation__ul.active {
    left: 0;
  }
}

////////////////////////////////////////////COOKIE///////////////////////////////////

.cookie {
  display: flex;
  background-color: $main-color-black;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  animation-name: toOpacityFull 2s;

  &__container {
    display: block;
    z-index: 10000000;
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__btn {
    margin-left: -1rem;

    &:hover {
      color: $font-color-second;
    }
  }
}

#map {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150rem;
  height: 60rem;
  border: 2px solid $main-color-black;
  margin: 0 auto;
}

.leaflet-popup-content-wrapper,
.leaflet-popup.tip {
  background-color: $main-color-black;
  font-size: 1.2rem;
  cursor: pointer;
}
